/* Card.css */
.card {
    background-color:black;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    cursor: pointer;
    width: 160px;
    height: 211px;
    transition: all 0.2s ease-in;
}

.card:hover {
    transform: scale(1.1);
}

.relative {
    position: relative;
    cursor: pointer;
}

.play_btn {
    display: none;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 4px;
    border-radius: 50%;
    background-color:cornflowerblue;
    justify-content: center;
    padding: 0.75rem;
    margin-bottom: 75px;
    cursor: pointer;

}

.play_btn:hover{
    padding: 1rem;
}

.card:hover .play_btn {
    display: flex;
    bottom: 0;
    transition: bottom 0.3s ease-in-out; 
}


#img {
    width: 137px;
    position: relative;
}


h3.title , p.description {
    word-break: break-all;
}

.title {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    font-size: 0.75rem;
    color: #9ca3af;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}



