.header {
  padding: 2rem 3rem 2rem 3rem;
}

.login-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #cbd5e0;
  width: 75%;
  margin: 1rem auto 1rem auto;
}

.form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.email-field {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: #ccc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px var(rgba(156, 163, 175, 0.5), rgba(0, 0, 0, 0.05));
  color: #9ca3af;
  padding: 0.73rem;
  background-color: #1a1919;
}

.email-field:hover {
  color: #fff;
}

.submit-button {
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  color: #ccc;
  background-color: #48bb78;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px (rgba(156, 163, 175, 0.5), rgba(0, 0, 0, 0.05));
  padding: 0.75rem;
  cursor: pointer;
}

.submit-button:hover {
  color: #fff;
  background-color:#75b48f ;
}

.submit-button:focus {
  color: #fff;
  box-shadow: inset 0 0 0 3px (rgba(156, 163, 175, 0.5), #fff);
}

.sign-up-text {
  padding-top: 32px;
}

.sign-up-info {
  color: #ccc;
  font-weight: 600;
}

.sign-up-link {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  &:hover {
    color: #48bb78;
  }
}
